<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Thanks for your feedback!</title>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
          <p class="title">
            Thank you for your feedback. We are committed to your satisfaction.
          </p>
        </div>
      </section>
    <!-- <h1>Thanks for feedback</h1>
   
    <h2>Here are the results!</h2> -->
    <!-- <ul>
        <li>LOCATION: {{result[0]}}</li>
        <li>OVERALL SCORE: {{result[1]}}</li>
        <li>NUMBER OF KEYWORDS: {{result[2]}}</li>
        {% for x in result[3:] %}
            {% for k, v in x.items() %}
                <li>{{k}} : {{v}}</li>
            {% endfor %}
        {% endfor %}
    </ul> -->
    <a href="/">Go back</a>
</body>
</html>